body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
#div-container {
  /* border: solid 5px #f999; */
  width: 100%;
  height: 100%;
  position: relative;
}
.parah {
  /*height: 20px;*/ /*会影响圆形音乐按钮的位置*/
  /* align center in the screen:
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	*/
}
#div-container .editBtn {
  position: absolute;
  width: 100px; height: 30px;
  background: green;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  line-height: 30px;
  top: 20px; left: 50%;
	transform: translate(-50%, 0);
}
#div-page1 {
  width: 100vw;
  height: 100vh;
  background: url("../image/astronaut4-1-10801920.jpg") center no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#div-page2 {
  width: 100vw;
  height: 100vh;
  background: #000000;

  position: relative;
  top: 0;
  left: 100%;
}
#div-page3 {
  width: 100vw;
  height: 100vh;
  /*border: 2px solid #000;*/
  background: #e46363;

  position: absolute;
  top: 0;
  left: 200%;
}
#div-page4 {
  width: 100vw;
  height: 100vh;
  background: #66b2ff;

  position: absolute;
  top: 0;
  left: 300%;
}

#div-music {
  width: 40px;
  height: 40px;
  /*margin: 10px 10% auto auto;*/
  border-radius: 50%;

  position: absolute; /*和 top right 配合*/
  top: 20px;
  right: 20px;
  z-index: 99;
}
#div-music #audio-btn {
  /*width: 100%; height: 100%;*/
  width: 44px;
  height: 44px;
  /*margin:100px auto;*/

  background-size: 100% 100%;
}
#div-music .on {
  background: url("../image/music-64.png") no-repeat 0 0;
  -webkit-animation: rotating 1.2s linear infinite;
  animation: rotating 1.2s linear infinite;
}
#div-music .off {
  background: url("../image/music-64.png") no-repeat 0 0;
}
@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
#div-page1 .slide-wrapper {
  width: 55vw; height: 50vh;
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, 0);
  /*
  display: flex;
  align-items: center;
  text-align: center;
  */
  background-color: rgba(0, 0, 0, 0.3);
}
#div-page1 .fadeable {
  position: relative;
  /*display: none;*/
  text-indent: 20px;
  font-size: 14px;
  top: 100%;
  transition: top 6s linear;
  -webkit-transition: top 6s linear;
  -moz-transition: top 6s linear;
  -ms-transition: top 6s linear;
  -o-transition: top 6s linear;
  /*
  transition: all 3s linear;
  -webkit-transition: all 3s linear;
  -moz-transition: all 3s linear;
  */
}
.fade-in {
  top: 10px;
  /*display: block;*/
}
#div-page2 .mars {
  width: 250px; height: 250px;
  position: absolute;
  /* position: fixed; */
  top: 0; bottom: 35%;
  left: 0; right: 0;
  margin: auto;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 20px 20px #000 inset, 0 0 20px 2px #000;
}

#div-page2 .mars:after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: -20px -20px 50px 2px #000 inset;
  border-radius: 50%;
}

#div-page2 .mars > div {
  width: 100%;
  height: 100%;
  animation: spin 10s linear infinite;
  /* animation: spin 15s linear alternate infinite; */
  background: url(../image/mars2-1000500.jpg);
  background-size: cover;
}
@keyframes spin {
  /*to {
    transform: translateX(-50%);
  }*/
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 318 0;
  }
}
#div-page2 .commander {
  position: absolute;
  width: 100vw; height: 180px;
  top: 60%; left: 50%;
  transform: translate(-50%, 0);
  display: inline;
  /* margin-left: 20px; */

  /* display: flex; */
  /* background: #e46363; */
}
#div-page2 .commander .slide {
  width: 144px; height: 100%;
  /* position: absolute; */
  /* top: 0; left: 20px; */
  margin-left: 10px;
  float: left;
  /* transform: translate(-50%, 0); */
  background: url(../image/commander09_cr.jpg);
  background-size: cover;
}
#div-page2 .commander .detail {
  /* display: block; */
  width: 190px; height: 100%;
  float: left;
  margin-left: 10px;
  text-align: center;
  color: #fff;

}
#div-page2 .commander .detail p {
  text-indent: 15px;
  text-align: left;
  font-family: NSimSun;
}